<!doctype html>
<html>
<head>
    <title>ToDo App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style/style.css" />
    <style>
        body         { padding-top:20px; word-wrap:break-word; }
        #map {
            width: 100%;
            height: 400px;
        }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/javascript/jquery.datetimepicker.min.js"></script>
    <script type="text/javascript" src="/javascript/script.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
</head>
<body>
    <div class="container">

        <div class="page-header text-center">
            <h1><span class="glyphicon glyphicon-list"></span> TODO :</h1>
            <div class="row">
                <div class="col-sm-10">
                    <h3 class="text-left">Welcome <strong><%= user.name %></strong> !</h3>
                </div>
                <div class="col-sm-2">
                    <a href="/logout" class="btn btn-default btn-lg btn-block">Logout</a>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Add new Todo -->
            <div class="col-sm-7">
                <div class="well">
                    <h3><span class="glyphicon glyphicon-pencil"></span> Add new</h3>

                    <div class="row">
                        <div class="col-xs-7">
                            <input type="text" class="form-control" placeholder="Task" id="input-task">
                        </div>

                        <div class="col-xs-5">
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker2'>
                                    <input type="text" name="date" value="" id="input-targetDate">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" id="map">
                        </div>                    
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-md-12 center-block">
                            <button id="submit" name="singlebutton" class="btn btn-primary center-block" style="padding-top: 10px">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Display all pending Todos-->
            <div class="col-sm-5">
                <div class="well">
                    <div class="row">
                        <h3 class="text-center"><span class="glyphicon glyphicon-ok"></span> Current List</h3>
                    </div>
                    <div class="row">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Task</th>
                                    <th>Time</th>
                                    <th>Location</th>
                                    <th>Completed?</th>
                                </tr>
                            </thead>
                            <tbody id="checkbox-todo">
                                <% for(var i=0;i<todo.length;i++) {%>
                                        <tr id="<%=todo[i]._id%>">
                                            <td><%= todo[i].task %></td>
                                            <td><%= todo[i].targetDate%></td>
                                            <td><%= todo[i].location%></td>
                                            <td>
                                                <div class="checkbox" align="center">
                                                    <label>
                                                        <input type="checkbox" id="blankCheckbox" value="<%= todo[i]._id%>" aria-label="...">
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                <%}%>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-12 center-block">
                            <button name="singlebutton" class="btn btn-primary center-block" id="update">
                                Update
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <p>Made with <span class="glyphicon glyphicon-heart" style="color:red"></span> by <strong><a href="http://m2n.me">Manish</a></strong></p>
    </div>
</div>
</body>
</html>
